@model SMSApp.Models.SC.ControllerMapSC

@{
    ViewBag.Title = "UserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/AppJs/ControllerMap/ControllerMapForm.js"></script>

<script type="text/javascript">

    function OnUserSuccess() {
        swal({
            title: "SUCCESS!",
            text: "Action completed successfully",
            type: "success",
            confirmButtonText: "OK"
        },
            function (isConfirm) {
                window.location.href = '@Url.Action("Index","ControllerMap")';
            });
    }

    function RedirectBack() {

        window.location.href = '@Url.Action("Index","User")';

        return false;
    }

</script>

<div ng-controller="ControllerMapFormCtrl">

    <form action="/ControllerMap/SaveControllerMap" data-ajax="true" data-ajax-failure="OnFailure"
          data-ajax-method="POST" data-ajax-success="OnUserSuccess" id="form0" method="post">

        <div class="col-12">
            <section class="box">
                <header class="panel_header">
                    @if (Model != null)
                    {
                        <h2 class="title float-left">New Department Mapping</h2>
                    }
                    else
                    {
                        <h2 class="title float-left">管理部門の登録</h2>
                    }
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label title">Department Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ControllerName, new { @class = "form-control", @placeholder = "Enter Department Name", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Department Description</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ControllerDesc, new { @class = "form-control", @placeholder = "Enter Department Description", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Floor List</label>
                                <div class="controls">
                                    <div class="input-group sm-3">
                                        <select class="form-control" id="ddlFloor">
                                            <option ng-value="0">--Select--</option>
                                            <option ng-repeat="item in FloorList" ng-value="item.FloorId">{{item.FloorName}}</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" ng-click="AddFloor();">
                                                <span class="fa fa-plus"></span>
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Status</label>
                                <div class="controls">
                                    @Html.RadioButtonFor(model => model.Status, "1", new { @id = "rdoStatusActive", @checked = "checked" })
                                    <label class="form-label" for="rdoStatusActive">Active</label>
                                    @Html.RadioButtonFor(model => model.Status, "0", new { @id = "rdoStatusInActive" })
                                    <label class="form-label" for="rdoStatusInActive">InActive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12" ng-if="FormFloorList.length > 0">
                            <table id="example-11" class="display table-sm table-sm table-bordered" cellspacing="0" width="100%">
                                <colgroup>
                                    <col width="10%" />
                                    <col width="25%" />
                                    <col width="55%" />
                                    <col width="*" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Floor Admin Code </th>
                                        <th>Floor Admin </th>
                                        <th class="text text-center">Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in FormFloorList|filter:{'item.IsType' : '!D'}">
                                        <td ng-bind="item.RowId"></td>
                                        <td ng-bind="item.RoleCode"></td>
                                        <td ng-bind="item.FloorName"></td>
                                        <td class="text text-center">
                                            <button class="btn btn-sm" type="button" ng-click="RemoveUser(item.RowId);">
                                                <span class="fa fa-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary" onclick="return SaveControllerMap();">Submit</button>
                                <button type="button" class="btn" onclick="return RedirectBack();">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            @Html.HiddenFor(model => model.ControllerMapId, new { @id = "txtControllerMapId"})
            @Html.HiddenFor(model => model.FloorListJson, new { @id = "txtFloorListJson"})
        </div>
    </form>
</div>